@import "../_theme.scss";

.admin{

    .card-cotainer{
        text-align: center;
        min-height: 6vw;
    }
    
    a{
        color:$text-black-color !important;
        text-decoration: none !important;
    }

    a:hover{
        text-decoration: underline !important;
    }


}

