@import "../_theme.scss";

.InsertDish {
  .InsertDish-card {
    border-radius: 4px;
    border: solid 1px $secondary-color;
    margin-top: 10%;
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 5vw;

    .input-group {
      width: 80%;
      margin-left: 20%;

      .form-control {
        background-color: transparent;
      }
    }

    .form-select {
      background-color: transparent;
      color: #ffffff;
    }
  }
}
